/* .clase y #id */
* {
  padding: 0;
  margin: 0;
}

body {
  background: #eeeeee;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.header p {
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
}

#logo{
  display:block;
  margin:auto;
}


#copyright{
  text-align: center;
}
#parrafo{
  text-align: center;
}

.micampo{
  text-align: center;
}

.infocampo {
  text-align: center;
}

.titulosCampo{
  text-align: center;
  font-weight: bold;
}

.container{
  margin: auto;
  display: block;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  border: 10px solid #000 ;
  margin: auto;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}

.contenedor > div {
  display: block; 
  padding: 20px;
  color: #fff;
  background: #2f89fc;
  box-shadow: 2px 2px 10px rgba(0,0,0,.25);
}

thead th {
  text-align: center;
}
tr {
  text-align: center;
}


.slider{
  width: 95%;
  margin:auto ;
  display: block;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 10%;
  width: 100%;
  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}
/* espacio es el tiempo de transicion */
  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}

}

