<div class="box">
    <figure>
        <img src="../../assets//img/mockups/sm_01.jpg" alt="Fondo png">
        <div class="capa">
            <h3>MiCampo Mobile</h3>
            <p>Aplicación para dispositivos Android</p>
        </div>
    </figure>
</div>
<!-- 
<div class="agm-container">
    <h3>Angular Google Maps Example</h3>
    <agm-map
      [zoom]="5"
      [latitude]="lat"
      [longitude]="lng"
      (mapReady)="onMapReady($event)"
    >
    </agm-map>

    <br />
    
    <div *ngIf="pointList.length>0" class="display-flex">
      <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">Clear</button>
    </div>
  
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let point of pointList">
        {{ point.lat.toPrecision(5) }},
        {{ point.lng.toPrecision(5) }}</mat-list-item
      >
    </mat-list>
    <mat-card *ngIf="selectedArea > 0">
      <span> Selected Area: {{ selectedArea.toPrecision(5) }}m<sup>2</sup> </span>
    </mat-card>
  </div> -->

  <!-- <div class="container">
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </div> -->
