<div class="container" style="padding-top: 50px;">

    <form [formGroup]="sesionGroup" class="form-signin text-center">
      <img class="mb-6" src="../../../assets/sesion/login.png" alt="" width="20%"
           height="20%">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
      
      <div class="example-container">
        <mat-form-field>
          <input formControlName="inputCorreo" type="email" matInput placeholder="Correo Electrónico" >
          <mat-error *ngIf="sesionGroup.get('inputCorreo').touched && sesionGroup.get('inputCorreo').invalid">Ingrese un correo</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="inputContrasena" type="password" matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="sesionGroup.get('inputContrasena').touched && sesionGroup.get('inputContrasena').invalid">Ingrese una contraseña </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="btn btn-lg btn-primary btn-block" (click)="iniciarSesion()" type="submit">Ingresar</button>
      <div class="form-group">
        <a routerLink="/cliente" class="form-control login-user">Eres nuevo? Registrarme</a>
        <a routerLink="/recuperar" class="form-control login-user">Olvidé mi Contraseña</a>  
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; MiCampo Web 2020</p>
    </form>
  </div>
  
  