/* * {
  background: lightblue url("../../../assets/sesion/bg-01.jpg") no-repeat fixed center;
  margin-top: 20px;
} */

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  margin: 0 auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-control.login-user {
  border: 0px;
}

input {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

.btn[type="submit"] {
  margin-top: 25px;
}

.mat-raised-button.mat-primary {
  background: #28ad00;
  color: #ffffff;
}




