<!-- <google-map width="800" heighy="600" [center]="position">
    <map-marker [position]="position" [label]="label" [title]="title"></map-marker>
</google-map> -->

<!-- <google-map height="400px" width="750px" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)" (mapReady)="onMapReady($event)" >
    <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition" [options]="markerOptions">
    </map-marker>
    <map-polyline [path]="vertices"></map-polyline>
</google-map> -->

<!-- <div id="map"></div> -->

<!-- agm/core map -->

<div class="container">

    <mat-card>

        <h1>Registro de campos</h1>

        <!-- Input  -->
        <div class="form-group">
            <mat-form-field style="width: 100%;">
                <input matInput [formControl]="inputSearch" placeholder="Buscar lugar...">
            </mat-form-field>
        </div>
    
        <!-- Google Map  -->
        <agm-map [latitude]="position.lat" [longitude]="position.long" [zoom]="zoom">
            <agm-marker [latitude]="position.lat" [longitude]="position.long" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
            </agm-marker>
        </agm-map>

    </mat-card>




</div>