<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img class="img-brand" src="./assets/img/navbar/logo.png" alt="MiCampo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleState()">
      <i class="fas fa-bars fa-lg"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{ 'collapse': isCollapse }">
      <!-- ul left  -->
      <ul class="navbar-nav nav__links me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Empresa</a>
        </li>
      </ul>

      <!-- ul right  -->
      <ul class="navbar-nav  nav__links">
        <li class="nav-item" *ngIf="sesionActiva">
          <a class="nav-link" style="display: flex;" [matMenuTriggerFor]="menu">{{usuario.usu_nombre}} 
            <mat-icon>arrow_drop_down</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
            <a class="menu-item" mat-menu-item (click)="onSelectMiPerfil()">Mi Perfil</a>
            <a class="menu-item" mat-menu-item (click)="onSelectSalir()">Salir</a>
          </mat-menu>
        </li>
        <li class="nav-item" *ngIf="!sesionActiva">
          <a class="nav-link" [routerLink]="['/sign-up']">Registrarme</a>
        </li>
        <li class="nav-item" *ngIf="!sesionActiva">
          <a class="nav-link" [routerLink]="['/sign-in']">Ingresar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>