@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*, *:before, *:after {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    // background-color: #24252A;
}

.top-header {
    width: 100%;
    margin: auto;
    justify-content: center;
    text-align: center;
} 

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

// header {
//     background: linear-gradient(-90deg,#59a638,#3e8022);
// }

.img-brand {
    width: 30%;
}


// //*******************************************//

// PC 
@media screen and(min-width: 600px) {
    
    ul {
        li {
            margin: 0px 5px 0px 5px;
        }
    }

    header {
        z-index: 5;
        width: 100%;
        background-size: cover;
        position: relative;
    }

    nav {
        background: linear-gradient(-90deg,#59a638,#3e8022);
        overflow: hidden;
        position: fixed; 
        width: 100%; 
        padding: 8px;
        position: relative;
        top: 0;
    }

    button {
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}

// Movil 
@media screen and(max-width: 600px) {

    nav {
        background: linear-gradient(-90deg,#59a638,#3e8022);
        overflow: hidden;
        position: fixed; 
        top: 0; 
        width: 100%; 
        z-index: 999;
    }

    button {
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}

.navbar-brand {
    color: #ffffff;
    font-size: 25px;
}

.nav-link {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.navbar-toggler {
    color: #191717;
    border-color: #8a2be2;
}

.navbar-toggler-icon {
    color: #000000;
}

.logo {
    cursor: pointer;
    height: 50px;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav__links li a {
    transition: all 0.6s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

/********MATMENU Y MENU-ITEM***********/
mat-menu {
    background: #acacac;
}

.menu-item {
    color: #000000;
    font-size: 13px;
    font-weight: lighter;
}

.menu-item:hover {
    cursor: pointer;
    font-weight: 400;
}
/***************************************/
